{#
/**
 * @file
 * Extends paragraph.html.twig.
 *
 * Additional variables:
 * - classes: type, bundle, variant classes.
 * - sub_items: if there is a repeating field `items` then this is an array of those
 *   `item` paragraphs to control as an alternative to {{ content }}.
 */
#}
{% block paragraph %}
  <div{{ attributes }}>
    {% block content %}
      {{ content.subtitle }}
      {% for item in sub_items %}
        <div{{ item.attributes }}>
          {{ item._heading }}
          {{ item._markup }}
          {{ item._media }}
          {{ item._link }}
        </div>
      {% endfor %}
    {% endblock %}
  </div>
{% endblock paragraph %}
