{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}

<h1>Testing 'list' default twig</h1>

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}

      {{ content.subtitle }}

      {% for key, item in paragraph.items if key|first != '#' %}
        {{ item.entity._heading.value }}
        {{ item.entity._markup.processed }}
        {{ item.entity._link.processed }}
        {{ item.entity._media.processed }}
      {% endfor %}

    {% endblock %}
  </div>
{% endblock paragraph %}
